<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Site Settings -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Site Details -->
  <title>{{#if title}} {{title}} — {{/if}} {{siteTitle}}</title>
  <meta name="description" content="{{siteDescription}}" />
  <link rel="author" href="humans.txt" />

  <!-- Open Graph -->
  <meta property="og:title" content="{{#if title}} {{title}} — {{/if}} {{siteTitle}}" />
  <meta property="og:description" content="{{siteDescription}}" />
  <meta property="og:image" content="{{siteURL}}/img/{{imageDir}}/small/001.jpg" />

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{siteTwitter}}" />
  <meta name="twitter:title" content="{{#if title}} {{title}} — {{/if}} {{siteTitle}}" />
  <meta name="twitter:description" content="{{siteDescription}}" />
  <meta name="twitter:image" content="{{siteURL}}/img/{{imageDir}}/small/001.jpg" />

  <!-- Site Assets -->
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7238032/707342/css/fonts.css" />
  <link href="/img/favicon.png" rel="shortcut icon" />
  <script src="/js/main.min.js"></script>

</head>

